$body-bg: rgb(46, 43, 43);
$body-color: white;
$primaty: rgb(0, 119, 255);
$font-family-sans-serif: 'Poppins', subtract;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


#carouselExampleDark{
    margin-top: 40px;
}

body{
    margin: 0px;
    padding: opx;
}


@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-collapse{
    justify-content: flex-end;
    padding-right: .5rem;
    padding-left: 5rem;
}

// .navbar{
//     position: sticky;
//     top: 0;
//     z-index:100;
// }

@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.card p{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.card_1 .card-text{
    font-size: 14px;
    color: black;
    margin-left: 40px;
}

.info p{
    font-size: 20px;
    text-align: left;
}

.info ul li{
    margin-left: 90px;
    font-size: 20px;
    text-align: left;
}


@media screen and (max-width: 601px) {
    .card p header-f{
        font-size: 12px;
    }
  }

.subhead{
    color: white;
}

.weekend{
    margin-left: 0px;
}
.carusel{
    margin-bottom: 80px;
}

.col-1{
    margin: 80px;
}
.card-img{
    margin-left: 60px;
}

// @media screen and (max-width: 600px){
//     .container-2 strong p{
//         font-size: 8px;
        
//     }
// }

.couter-2{
    font-size: 12px;
}

.row{
    margin: 0px;
}

footer {
    background-color: rgb(129, 139, 148);    
    .container-footer{  
        width: 100px;     
        margin-top: 150px;
    }   
}

@media screen and(max-width: 650px){
    footer {
        background-color: rgb(129, 139, 148);        
        .container-footer{  
            width: 100%;         
            margin-top: 150px;
        }       
    }
}